In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("insurance_data.csv")

In [4]:
df.head()

   Unnamed: 0 Province  Zipcode  Gender  Total_Claim      Premium
0           0        C     1003  Female   652.740226   898.493109
1           1        A     1003  Female  1159.389368  1040.563548
2           2        C     1003    Male   729.641413  1137.593249
3           3        C     1003  Female   253.524198   764.332164
4           4        A     1001    Male   938.056933  1349.828367